{% extends 'base.html.twig' %}

{% block title %}Welcome to IHealYou{% endblock %}

{% block body %}

    <div class="home" id="home">
        <div class="title">
            Are you suffering from migraine, muscle aches everywhere?
            <div class="sub-title">
                I Heal You
            </div>
        </div>
        <div class="intro">
            <div class="image">
                <img src="{{ asset('images/woman_migraine.jpg') }}">
            </div>
            <p>
                Pri unum explicari te, sonet epicurei adversarium et ius. Everti accusata in vix, ei putent maluisset qui. Sed ludus omittam propriae ea. Qui liber eligendi delicata et. Nam harum mundi congue id, vix dolores luptatum tacimates ut.
                <br>
                Et vix voluptua accusamus, quando scriptorem his ne. Sed ad porro doctus. Novum sonet forensibus et sed. Mea ne ceteros similique, tale dicit cu duo.
                <br>
                Ad usu posse alterum dissentiunt, at has quot libris noster. Quod sint ei his, timeam scribentur an quo. No vel torquatos intellegebat signiferumque. Vis impedit eleifend te. Duo eu harum repudiare. Qui choro debitis te, eam voluptaria rationibus in.
            </p>
        </div>
    </div>

    <div class="appointment" id="appointment">

        <div class="title">
            Make an appointment
            <div class="sub-title">
                See what dates are open!
            </div>
        </div>
        <div class="text">
            <div class="image"></div>
            <div class="button">Make an appointment</div>
        </div>
    </div>

    <div class="practice" id="practice">

        <div class="title">
            What I Do In My Practice
        </div>
        <div class="text">
            <div class="image"></div>
            <p>
                Pri unum explicari te, sonet epicurei adversarium et ius. Everti accusata in vix, ei putent maluisset qui. Sed ludus omittam propriae ea. Qui liber eligendi delicata et. Nam harum mundi congue id, vix dolores luptatum tacimates ut.
                <br>
                Et vix voluptua accusamus, quando scriptorem his ne. Sed ad porro doctus. Novum sonet forensibus et sed. Mea ne ceteros similique, tale dicit cu duo.
                <br>
                Ad usu posse alterum dissentiunt, at has quot libris noster. Quod sint ei his, timeam scribentur an quo. No vel torquatos intellegebat signiferumque. Vis impedit eleifend te. Duo eu harum repudiare. Qui choro debitis te, eam voluptaria rationibus in.
            </p>
        </div>
    </div>

    <div class="about" id="about">

        <div class="title">
            About Me
        </div>
        <div class="text">
            <div class="image">
                <img src="{{ asset('images/christian.jpg') }}">
            </div>
            <p>
                Pri unum explicari te, sonet epicurei adversarium et ius. Everti accusata in vix, ei putent maluisset qui. Sed ludus omittam propriae ea. Qui liber eligendi delicata et. Nam harum mundi congue id, vix dolores luptatum tacimates ut.
                <br>
                Et vix voluptua accusamus, quando scriptorem his ne. Sed ad porro doctus. Novum sonet forensibus et sed. Mea ne ceteros similique, tale dicit cu duo.
                <br>
                Ad usu posse alterum dissentiunt, at has quot libris noster. Quod sint ei his, timeam scribentur an quo. No vel torquatos intellegebat signiferumque. Vis impedit eleifend te. Duo eu harum repudiare. Qui choro debitis te, eam voluptaria rationibus in.
            </p>
        </div>
    </div>
{% endblock %}
