{% extends 'base.html.twig' %}

{% block title %}Welcome to IHealYou{% endblock %}

{% block body %}

    <div class="home" id="home">
        <div class="title">
            <strong>I Heal You</strong>
            <br><br>
            Do you suffer from migraine?
            <br>
            Muscle aches everywhere ?
        </div>
        <div class="intro">
            <p>
                Pri unum explicari te, sonet epicurei adversarium et ius. Everti accusata in vix, ei putent maluisset qui. Sed ludus omittam propriae ea. Qui liber eligendi delicata et. Nam harum mundi congue id, vix dolores luptatum tacimates ut.
                <br>
                Et vix voluptua accusamus, quando scriptorem his ne. Sed ad porro doctus. Novum sonet forensibus et sed. Mea ne ceteros similique, tale dicit cu duo.
                <br>
                Ad usu posse alterum dissentiunt, at has quot libris noster. Quod sint ei his, timeam scribentur an quo. No vel torquatos intellegebat signiferumque. Vis impedit eleifend te. Duo eu harum repudiare. Qui choro debitis te, eam voluptaria rationibus in.
            </p>
        </div>
    </div>

    <div class="appointment" id="appointment">

        <div class="title">Make an appointment</div>
        <div class="text">
            <p>
                Pri unum explicari te, sonet epicurei adversarium et ius. Everti accusata in vix, ei putent maluisset qui. Sed ludus omittam propriae ea. Qui liber eligendi delicata et. Nam harum mundi congue id, vix dolores luptatum tacimates ut.
                <br>
                Et vix voluptua accusamus, quando scriptorem his ne. Sed ad porro doctus. Novum sonet forensibus et sed. Mea ne ceteros similique, tale dicit cu duo.
                <br>
                Ad usu posse alterum dissentiunt, at has quot libris noster. Quod sint ei his, timeam scribentur an quo. No vel torquatos intellegebat signiferumque. Vis impedit eleifend te. Duo eu harum repudiare. Qui choro debitis te, eam voluptaria rationibus in.
            </p>
        </div>
    </div>
{% endblock %}
