{% extends 'base.html.twig' %}

{% block title %}Welcome to IHealYou{% endblock %}

{% block body %}

<div class="home">
    <div class="banner" id="banner-home">
        Welcome to IHealYou!
    </div>
</div>
{% endblock %}
