/** Variables */

/** Fonts */
$kameron: 'Kameron', serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$sourceCodePro: "Source Code Pro", "Menlo", "Courier New", monospace;
$courgette: 'Courgette', cursive;
$merriweather: 'Merriweather', serif;
$poppins: 'Poppins', sans-serif;
$ptSans: 'PT Sans', sans-serif;
$rancho: 'Rancho', cursive;
$ubuntu: 'Ubuntu', sans-serif;
$pathWayGothicOne: 'Pathway Gothic One', sans-serif;
$palanquinDark: 'Palanquin Dark', sans-serif;

/** Colors */
$white: #ffffff;
$black: #000000;

// Palette
$richLavender: #A663CC; // Rich lavender
$hanPurple: #6320EE; // Han Purple
$platinum: #DEE5E5; // Platinum
$caribbeanGreen: #06D6A0; // Caribbean green
$richBlack: #00120B; // Rich black
