/** Variables */

/** Colors */
$white: #ffffff;
$black: #000000;

// Palette
$richLavender: #A663CC; // Rich lavender
$hanPurple: #6320EE; // Han Purple
$platinum: #DEE5E5; // Platinum
$caribbeanGreen: #06D6A0; // Caribbean green
$richBlack: #00120B; // Rich black
