.practice {
  width:100%;
  max-width:100%;
  margin-top: 4rem;
  border-top: 1px solid darken($platinum, 15%);

  .title {
    text-align:center;
    padding:1rem;
    font-family: $courgette;
    font-size:150%;
    font-weight:bold;
    background: darken($platinum, 5%);
    border-bottom: 1px solid darken($platinum, 15%);

    .sub-title {
      margin-top:1rem;
      font-family: $rancho;
    }
  }

  .text {
    margin-top:2rem;
    p {
      width:75%;
      margin:0 auto;
      padding:1rem;
    }
  }
}