<div class="banner {{ banner_class }}">
    <div class="container">
        <div class="title">
            {{ banner_title }}
        </div>
        <div class="sub-title">
            {{ banner_subtitle }}
        </div>
    </div>
</div>